@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
  }

  /* nprogress */
  #nprogress {
    @apply pointer-events-none;
  }
  #nprogress {
    .bar {
      @apply fixed top-0 left-0 z-[1000] h-[2px] w-full bg-secondary;
    }
  }
  #nprogress {
    .peg {
      @apply absolute right-0 block h-full w-24 -translate-y-1 rotate-3 opacity-100 shadow;
    }
  }
  #nprogress {
    .spinner {
      @apply fixed top-4 right-4 z-[1000] block;
    }
  }
  #nprogress {
    .spinner-icon {
      @apply box-border h-5 w-5 animate-spin rounded-full border-2 border-transparent border-t-secondary border-l-secondary duration-500 ease-linear;
    }
  }
  .nprogress-custom-parent {
    @apply relative overflow-hidden;
  }
  .nprogress-custom-parent #nprogress .spinner,
  .nprogress-custom-parent #nprogress .bar {
    @apply absolute;
  }

  /* transitions */
  .transition-hover {
    @apply transition-colors duration-200 ease-in-out;
  }
  .transition-smooth {
    @apply transition-all duration-200 ease-linear;
  }

  /* typography */
  h1 {
    @apply mb-1 text-xl sm:mb-2 sm:text-[32px];
  }
  h2 {
    @apply mb-2 text-xl text-primary sm:mb-5 sm:text-[32px];
  }
  p {
    @apply text-sm text-primary sm:text-base;
  }
}
